:root{
  --infoHeight :25%;
}

.container{
  height:calc((100vw-32pr) * 3 / 4);
  margin: 16pr 0;
  border-radius: 16pr;
  overflow: hidden;
  position: relative;
  background: rgba(0,0,0,0.5) no-repeat center/cover;
}

.info{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height:var(--infoHeight);
  box-sizing: border-box;
  padding: 8pr 24pr;
  overflow: hidden;
  line-height: 1.5;
  display: flex;
  color:white;
}

.blur-wrapper{
  position: absolute;
  height: var(--infoHeight);
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}


.blur-img{
  height: calc(100% / 0.25);
  transform: translate(0px,-65%) scale(1.2);
  background: rgba(0,0,0,0.5) no-repeat center/cover;
  filter: blur(20px);
}

.left{
  min-width: 80%;
  z-index:0;
}

.right{
  min-width: 20%;
  z-index: 0;  
  display: flex;
  justify-content: flex-end;
}

.name{
  font-size:20pr;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.label{
  font-size:32pr;
}