:root {
	--containerMargin: 16pr;
	--containerHeight: 1.333333;
	--infoHeight: 0.25;
	--imgBg: {
		background: rgba(0, 0, 0, 0.5) no-repeat center/cover;
	}
}

.container {
	@apply --imgBg;
	height: calc((100vw - var(--containerMargin) * 2) / var(--containerHeight));
	margin: var(--containerMargin);
	border-radius: 16pr;
	overflow: hidden;
	position: relative;
}

.info {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: calc(var(--infoHeight) * 100%);
	box-sizing: border-box;
	padding: 8pr 24pr;
	overflow: hidden;
	line-height: 1.5;
	display: flex;
	color: white;
}

.blur {
	@apply --imgBg;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: calc(100% / var(--infoHeight));
	transform: translate(0px, calc(100% * var(--infoHeight) - 100%)) scale(1.35);
	filter: blur(20px);
}

.left {
	min-width: 80%;
	z-index: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.right {
	z-index: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.name {
	font-size: 20pr;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex-basis: 100%;
}

.duration {
	font-size: 16pr;
}

.label {
	font-size: 32pr;
	padding-left: 16pr;
}